/* variable styles */

/*COLORS*/
$primary: #A8C8ED;
$secondary: #00609c;
$tertiary: #0088cc;

$darkbrown: #372E2C;
$darkblue: #00609c;

//BUTTON GRADIENT 
$lightblue1: #0081c2;
$lightblue2: #0077b3;

$lightestblue: #EEF4FC;
$white: #ffffff;
$black: #000000;

$transparent: rgba(255, 255, 255, 0);

$baseColor: $darkbrown;
$baseColorAlt: #646464;

$mainFontSize: 16px;

$transitionTime: 300ms;
$transitionType: ease;

/*MIXINS*/
@mixin transitionAll(){
    -webkit-transition: all $transitionTime $transitionType;
    -moz-transition: all $transitionTime $transitionType;
    transition: all $transitionTime $transitionType;
}

@mixin dropShadow(){
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.08);
}

@mixin borderRadius(){
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
